:root {
    --primary: #8ab;

    --text: #222;
    --text-light: #fafafa;

    /* --background: #fafcff; */
    --background: #f0f1f2;

    --shadow: rgba(0, 0, 0, .5);
    --shadow-extreme: rgba(0, 0, 0, .9);
    --shadow-strong: rgba(0, 0, 0, .7);
    --shadow-weak: rgba(0, 0, 0, .2);
    --shadow-hint: rgba(0, 0, 0, .1);

    --highlight: rgba(255, 255, 255, .5);
    --highlight-extreme: rgba(255, 255, 255, .9);
    --highlight-strong: rgba(255, 255, 255, .7);
    --highlight-weak: rgba(255, 255, 255, .2);
    --highlight-hint: rgba(255, 255, 255, .075);
}
